<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>

  <body>
    <!--nav>
      <ul>
        {% for item in site.data.menu %}
          <li>
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav-->
    <nav aria-label="Primary">
      <ul>
        {% assign pages = site.pages
          | where_exp: "p", "p.path contains '.md'"
          | sort: "order" %}

        {% for p in pages %}
          {% if p.title %}
            <li>
              <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <div class="container-lg px-3 my-5 markdown-body">
      <main>
        {{ content }}
      </main>

      <footer>
        <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
          © 2024-2026 Lars Rosenboom, licensed under <a href="/LICENSE.txt">CC-BY-NC-ND-4.0</a>
        </div>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
